In [1]:
# Cell 2
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# scikit-learn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
import joblib

# make plots look nicer

In [2]:
# Cell 3
from sklearn.datasets import fetch_california_housing, load_iris

# Regression dataset
housing = fetch_california_housing(as_frame=True)
df_reg = housing.frame.copy()   # a pandas DataFrame
print("Regression dataset shape:", df_reg.shape)
display(df_reg.head())

# Classification dataset
iris = load_iris(as_frame=True)
df_cls = iris.frame.copy()
print("Classification dataset shape:", df_cls.shape)
display(df_cls.head())

Regression dataset shape: (20640, 9)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

Classification dataset shape: (150, 5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [3]:
# Cell 4 - check names and simple stats
print("Regression columns:", df_reg.columns.tolist())
print("\nRegression target (example) stats:")
display(df_reg['MedHouseVal'].describe())

print("\nClassification columns:", df_cls.columns.tolist())
print("\nClassification target distribution:")
display(df_cls['target'].value_counts())

Regression columns: ['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup', 'Latitude', 'Longitude', 'MedHouseVal']

Regression target (example) stats:

count    20640.000000
mean         2.068558
std          1.153956
min          0.149990
25%          1.196000
50%          1.797000
75%          2.647250
max          5.000010
Name: MedHouseVal, dtype: float64

Classification columns: ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)', 'target']

Classification target distribution:

target
0    50
1    50
2    50
Name: count, dtype: int64

In [4]:
# Cell 5 - Regression split
X_reg = df_reg.drop(columns=['MedHouseVal'])
y_reg = df_reg['MedHouseVal']

X_train_reg, X_test_reg, y_train_reg, y_test_reg = train_test_split(
    X_reg, y_reg, test_size=0.20, random_state=RANDOM_STATE
)

print("Regression - train/test sizes:", X_train_reg.shape, X_test_reg.shape)

# Classification split
# Note: df_cls from load_iris(as_frame=True) contains 'target' column
X_cls = df_cls.drop(columns=['target'])
y_cls = df_cls['target']

X_train_cls, X_test_cls, y_train_cls, y_test_cls = train_test_split(
    X_cls, y_cls, test_size=0.25, random_state=RANDOM_STATE, stratify=y_cls
)

print("Classification - train/test sizes:", X_train_cls.shape, X_test_cls.shape)

NameError: name 'RANDOM_STATE' is not defined